<!DOCTYPE html>
<html>
    <head>
        <title>Adauga o pisica aici</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
        <script src="/javascripts/bootstrap.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="row">
            <section id="meniu-stanga" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
              <header class="header-meniu-stanga">
                    <ul class="lista-meniu-stanga">
                      <li class="item-meniu-stanga">
                        <a class="link-meniu-stanga" href="/">HOME</a>
                      </li>
                      <li class="item-meniu-stanga">
                        <a class="link-meniu-stanga" href="./#capitol-lista-pisici">PISICI</a>
                      </li>
                      <li class="item-meniu-stanga">
                        <a class="link-meniu-stanga" href="/addCat">ADAUGA</a>
                      </li>
                      <li class="item-meniu-stanga">
                        <a class="link-meniu-stanga" href="#">DESPRE</a>
                      </li>
                      <li class="item-meniu-stanga">
                        <a class="link-meniu-stanga" href="#">CONTACT</a>
                      </li>
                      <li class="item-meniu-stanga">
                        <a class="link-meniu-stanga" href="#">LOGIN</a>
                      </li>
                    </ul>
              </header>   
            </section>
      
          <section id="content-dreapta" class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
              <div class="titlu">
                <h1> Register</h1>
                <p class="sub-titlu">Aici faci cont nou</p>     
              </div>  
              
              <div id="capitol-formular-register" class="container-formular">
                <div class="container-formulare">
                  <div id="formular-register">
                    <form id="formular-register-form" action=".\register" enctype="multipart/form-data" method="POST">
                      <label for="input-nume-user">Username:</label><br>
                      <input type="text" id="input-nume-user" name="numeUser" value=""><br>
                      <label for="input-parola-1">Parola:</label><br>
                      <input type="password" id="input-parola" name="parola1User" value=""><br>
                      <label for="input-parola-2">Confirma parola:</label><br>
                      <input type="password" id="input-parola" name="parola2User" value=""><br>
                      <input id="submit-new-user" type="submit" value="Confirma nume si parola">
                    </form>
                  </div>
                </div>
            </div>

          </section>

          <script>
            //POST:
           
          </script>
        </div>
    </body>
</html>